body{
    font-family: Courier, monospace; 
}

.button{
    color: #ffffff;
    background-color: #f1900e ;
    border: none;
    border-width: 2px;
    border-radius: 50px;
    font-weight: 700;
    margin:30px auto 0 0;
    padding: 15px 50px 15px 50px;
    }

    
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    /* Motivation-section */

    .motivation-section{
        background-image: url(../images/Motivation-section.jpg);
        background-size:cover;
        overflow: visible;
        min-height: 700px;
        padding: 100px;
    }

    h1 {
        font-weight: 700;
        line-height: 1.1;
        font-size: 50px;
        word-wrap: break-word;
        text-align: left;
        color: #ffffff;
        max-width:900px;
    }

    .motivation-p {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align-last: left;
        color: #ffffff;

    }

    .motivation-button {
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    /* Types-section */


    .types-section {
    background-color: #e5e5e5;
    padding: 50px;
    text-align: center;
    }

    .types-h2{
        font-weight: 700;
        font-size: 60px;
        line-height: 1.1;
        text-align: center;

    }

    .types-list{ 
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        grid-template-columns: repeat(3, calc(50% - 10px));
        grid-gap: 20px;
        display: grid;
        width: 980px;

    }
    
    .types-item {
        background-color: #fff;
    }

    .types-img{
        width: 100%;
        height: auto;
    }

    .types-h4{
        font-weight: 700;
        font-size: 24px;
        margin: 5px;
    } 

    .types-p{
        font-size: 16px;
   
    }

    .types-button {
       margin: 20px;
    }


    /* Membership-options-section */
    .membership-options-section{
        background-color: #e5e5e5;
        text-align: center;
        padding: 50px;
    }

    .membership-h2{
        font-weight: 700;
        font-size: 60px;
        line-height: 1.1;
        text-align: center;

    }

    .membership-p{
        text-align: center;
        font-size: 20px;
        line-height: 1.8;
    }

    .membership-list{ 
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        grid-template-columns: repeat(3, calc(50% - 10px));
        grid-gap: 20px;
        display: grid;
        width: 980px;

    }
    
    .membership-item {
        background-color: #ffffff;
        padding: 20px;
    }

    .membership-h3{
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        line-height: 1.2;
        margin: 20px;
        color: #111111;
    }

    .membership-p{
        font-size: 20px;
        text-align: center;
        margin: 50px 0 0;
        line-height: 2;
    }

    .membership-btn{
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 50px auto 0;
        padding: 15px 50px 15px 50px;
    }


    /* Contacts-section */

    .contacts-section{
        background-color: #ffffff;
    }

    .contacts-h2{
        font-weight: 700;
        font-size: 60px;
        line-height: 1.2;
        text-align: center;
        margin: 30px;
    }

    .contact-form-position{
        display: grid;
        place-items: center;
       
    }

    .contact-form-container{
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        width: 500px;
        background-color:#e5e5e5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .contact-form{
        display: flex;
        flex-direction: column;
    }
    
    .contact-form-h2{
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 15px; 
        text-align: center;
        text-transform: uppercase;
    }
    
    .contact-form-label{
        margin-top: 10px;
        font-size: 20px;
        text-align: start;
    }
    
    .contact-form input {
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }
    
    .contact-form button {
        font-size: 20px;
        cursor: pointer;
    }
    
    .contact-form button:hover {
        background-color: #ef3907;
    }
    