body{
    font-family: Courier, monospace; 
}

.button{
    color: #ffffff;
    background-color: #f1900e ;
    border: none;
    border-width: 2px;
    border-radius: 50px;
    font-weight: 700;
    margin:30px auto 0 0;
    padding: 15px 50px 15px 50px;
    }

    
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    /* Motivation-section */

    .motivation-section{
        background-image: url(../images/Motivation-section.jpg);
        background-size:cover;
        overflow: visible;
        min-height: 700px;
        padding: 100px;
    }

    h1 {
        font-weight: 700;
        line-height: 1.1;
        font-size: 50px;
        word-wrap: break-word;
        text-align: left;
        color: #ffffff;
        max-width:900px;
    }

    .motivation-p {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align-last: left;
        color: #ffffff;

    }

    .motivation-button {
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    /* Types-section */


    .types-section {
    background-color: #e5e5e5;
    padding: 50px;
    text-align: center;
    }

    .types-h2{
        font-weight: 700;
        font-size: 60px;
        line-height: 1.1;
        text-align: center;

    }

    .types-list{
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        grid-template-columns: repeat(3, calc(50% - 10px));
        grid-gap: 20px;
        display: grid;
        width: 980px;

    }
    
    .types-item {
        background-color: #fff;
    }

    .types-img{
        width: 100%;
        height: auto;
    }

    .types-h4{
        font-weight: 700;
        font-size: 24px;
        margin: 5px;
    } 

    .types-p{
        font-size: 16px;
   
    }

    .types-button {
       margin: 20px;
    }


